<div class="log-in">
    <h2>Zaloguj</h2>
    <p *ngIf="main_error" class="err-info" style="margin-bottom: 15px;">{{main_error_msg}}</p>
    <form [formGroup]="Form" (ngSubmit)="submitForm()">
        <ng-container *ngIf="Form.controls['email'].errors">
            <small *ngFor="let item of Form.controls['email'].errors | keyvalue" class="err-info">
                <strong>{{ item.value }}</strong>
            </small>
        </ng-container>
        <input type='email' formControlName="email" name='email' placeholder="Podaj adres email..." 
            [ngClass]="{'is-invalid': !Form.get('email')?.valid}">
        <ng-container >
            <small *ngFor="let item of Form.controls['password'].errors | keyvalue" class="err-info">
                <strong>{{ item.value }}</strong>
            </small>
        </ng-container>
        <input type='password' name='password' formControlName="password" placeholder="Podaj hasło..." 
        [ngClass]="{'is-invalid': !Form.get('password')?.valid}">
        <button type='submit'>Log in</button>
    </form>
</div>
