form{ 
    display: flex;
    max-width: 350px;
    flex-direction: column;
}
form input{
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
    box-shadow: 0 0 3px #c1c1c1;
}

form input::placeholder{
    font-family: "Signika", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}

form button{ 
    margin-top: 5px;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
    padding: 10px;
    background-color: #000;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 700;
    font-family: "Signika",sans-serif;
}

form button:hover,
form button:focus{
    background-color: #333;
    cursor: pointer;
}
