<div *ngIf="!editMode" class="flashcard element">
    <strong class="flashcard name">{{Form.controls['front']?.value}} | {{Form.controls['back']?.value}}</strong>
    <ul>
            <li *ngIf="repeat_needed"><img src="/assets/repeat.png" alt="powtórz"/></li>
            <li *ngIf="passed"><img src="/assets/passed.png" alt="zaliczone"/></li>
            <li class="edit" (click)="editMode = !editMode"><img src="/assets/edit.png" alt="edytuj"/></li>
            <li class="remove" (click)="deleteFlashcard(id)"><img src="/assets/bin.png" alt="usuń"/></li>
    </ul>
</div>
<div *ngIf="editMode" class="flashcard element">
    <form [formGroup]="Form" (ngSubmit)="editFlashcard(id)">
        <ng-container *ngIf="Form.controls['front'].errors">
            <small *ngFor="let item of Form.controls['front'].errors | keyvalue" class="err-info">
                <strong>{{ item.value }}</strong>
            </small>
        </ng-container>
        <input type='text' formControlName="front" name='front'  
        [ngClass]="{'is-invalid': !Form.get('front')?.valid}">
        <ng-container *ngIf="Form.controls['back'].errors">
            <small *ngFor="let item of Form.controls['back'].errors | keyvalue" class="err-info">
                <strong>{{ item.value }}</strong>
            </small>
        </ng-container>
        <input type='text' name='back' class="form-control" formControlName="back" 
        [ngClass]="{'is-invalid': !Form.get('back')?.valid}">
        <button type='submit'>Zapisz zmianę</button>
    </form>
</div>