button{
    width: 100%;
    text-align: left;
    font-size: 16px;
    background: transparent;
    border: none;
    font-weight: 400;  
    font-family: "Signika", sans-serif;
   color: #000;
   text-decoration: none;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   display: flex;
   align-items: center;
}
button:hover,
button:focus{
    cursor: pointer;
    background-color: #ddd;
}
button:active{
    background-color: #ccc;
}