<h2>Utwórz nowy zestaw</h2>

<form [formGroup]="Form" (ngSubmit)="submitForm()">
    <ng-container *ngIf="Form.controls['name'].errors">
        <small *ngFor="let item of Form.controls['name'].errors | keyvalue" class="err-info">
            <strong>{{ item.value }}</strong>
        </small>
    </ng-container>
    <input type='text' formControlName="name" name='name' placeholder="Podaj nazwę zestawu..."
    [ngClass]="{'is-invalid': !Form.get('name')?.valid}">
    <button type='submit'>Dodaj zestaw</button>
</form>