.app-nav{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #c1c1c1;
    padding: 20px
}

.app-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.app-nav ul a{
    color: #000;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.app-nav ul li a:hover,
.app-nav ul li a:focus{
    background-color: #ddd;
}

.app-nav ul li a:active{
    background-color: #ccc;
}

.app-nav ul li img{
    margin-right: 10px;
    max-width: 25px;
}

.app-nav h1{
    margin: 0;
    padding: 0;

}

.app-nav img{
max-width: 100%;
}