/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');

html,body,#app{
    min-height: 100vh;
}

body {
	font-family: 'Signika', sans-serif;
    padding: 0;
    margin: 0;
}

#app{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-gap: 40px;
    padding: 0 20px 0 0;
}

.content h2{
    font-size: 4em;
}

.content p{ 
    font-size: 1.2em;
}

.is-invalid{
    border-color: red;
}

.err-info{
    border-radius: 12px;
    padding: 3px 0px 3px 10px;
    margin-bottom: 5px;
    color: #F00;
    font-size: 14px;
}

@media(max-width: 768px){
    #app{
        display: block;
        padding: 0;
    }

    .app-nav img{
        max-width: 200px;
    }

    .app-nav{
        border: none;
    }

    .app-nav ul{
        display: flex;
        justify-content: space-around;
    }

    .app-nav ul a,
    .app-nav ul button{
        padding: 10px 10px;
    }

    .app-nav h1{
        text-align: center;
    }


    .content{
        text-align: center;
    }

    .content{
        padding: 0 30px;
    }

    .content h2{
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 2em;
    }

    .content .sets{
        grid-template-columns: repeat(3,1fr);
    }

    .content label{
        margin: 0 auto;
    }

    .content form{
        margin: 0 auto;
    }
}

form{ 
    display: flex;
    max-width: 350px;
    flex-direction: column;
}
form input{
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
    box-shadow: 0 0 3px #c1c1c1;
}

form input::placeholder{
    font-family: "Signika", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}

form button{ 
    margin-top: 5px;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
    padding: 10px;
    background-color: #000;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 700;
    font-family: "Signika",sans-serif;
}

form button:hover,
form button:focus{
    background-color: #333;
    cursor: pointer;
}
